<div>
  
  <h1>Productos</h1>
  <form id="productsForm">
    <label id="cartIdLabel"></label> <!-- Elemento para mostrar el cartId -->
  {{#each productos.products}}
    <h5>titulo: {{this.title}}</h5>
    <h5>descripcion: {{this.description}}</h5>
    <h5>precio: {{this.price}}</h5>
    <h5>thumbnail:{{this.thumbnail}}</h5>
    <h5>code: {{this.code}}</h5>
    <h5>stock: {{this.stock}}</h5>
    <h5>status: {{this.status}}</h5>
    <h5>category: {{this.category}}</h5>
    <input type="hidden" name="productId" value="{{this._id}}">
    <input type="submit">
    <br />
  {{/each}}
  </form>
  {{#if productos.hasPrevPage}}
    <a href="{{productos.prevLink}}"><button>Anterior</button></a>
  {{/if}}
  {{#if productos.hasNextPage}}
    <a href="{{productos.nextLink}}"><button>Siguiente</button></a>
  {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carts.js"></script>