<div>
  <div>
    <h1>Bienvenido {{user.name}}, usted tiene rol de: {{user.rol}}</h1>

    <a href="/api/session/logout"><button>Salir</button></a>
  </div>
</div>
  <h1>Productos</h1>
  <form id="productsForm">
    <label id="cartIdLabel"></label> <!-- Elemento para mostrar el cartId -->
  {{#each productos.products}}
    <h5><strong>Titulo:</strong> {{this.title}}</h5>
    <h5><strong>Descripcion:</strong> {{this.description}}</h5>
    <h5><strong>Precio:</strong> {{this.price}}</h5>
    <h5><strong>Thumbnail:</strong>{{this.thumbnail}}</h5>
    <h5><strong>Code:</strong> {{this.code}}</h5>
    <h5><strong>Stock:</strong> {{this.stock}}</h5>
    <h5><strong>Status:</strong> {{this.status}}</h5>
    <h5><strong>Category:</strong> {{this.category}}</h5>
    <input type="hidden" name="productId" value="{{this._id}}">
    <input type="submit">
    <br />
  {{/each}}
  </form>
  {{#if productos.hasPrevPage}}
    <a href="{{productos.prevLink}}"><button>Anterior</button></a>
  {{/if}}
  {{#if productos.hasNextPage}}
    <a href="{{productos.nextLink}}"><button>Siguiente</button></a>
  {{/if}}
</div>
<br>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carts.js"></script>